.card {
  width: 420px;
  background: rgba(255, 255, 255, 0.095);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.card-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5a811; 
  margin: 0 auto 15px auto; 
  flex-shrink: 0;
}


.card-image {
  width: 90%;
  height: auto;
  max-height: 12rem;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 15px;
  flex-shrink: 0;
}

.card-content h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #e67e22; 
  text-align: center;
}

.card-content p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  color: #777;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0;
}

.card-content p.working-hours {
  margin-top: 10px;     
  font-size: 0.95rem;       
  line-height: 1.4;      
}
