.reviews-view-container {
  display: flex;
  flex-direction: column;
  margin: 2% auto;
  width: 90%;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #fffefc;
}

.reviews-view-title {
  background: linear-gradient(to right, #fff9ec, #fff4e1);
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  font-size: 1.2rem;
  align-items: center;
  text-align: center;
}
 .reviews-title{
  align-self: center;
  font-size: 1.6rem;
  margin: 1rem; 
  color: #333;
}
.reviews-view-title h5 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  color: #555;
}

.reviews-view-title p {
  margin: 0;
  color: #666;
  font-size: 0.9rem;
  line-height: 1.4;
}
.reviews-view-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.8rem 1.2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
  border: 1px solid #eee;
}

.review-card-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

