.discounts-view-container {
  display:flex;
  flex-direction: column;
  margin: 2% auto;
  border-radius: 4px;
  width:80%;
  overflow-y: hidden;
}

.discounts-table-nav, .discounts-view-title {
    background: linear-gradient(to right, #fff9ec, #fff4e1);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

 .discounts-view-title{
  margin-bottom: 1rem;
  flex-direction: column;
 }
 .discounts-view-title h1 {
  font-size: 1.6rem;
  margin: 1rem; 
  color: #333;
}
.discounts-view-title h5 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  color: #555;
}

.discounts-view-title p {
  margin: 0;
  color: #666;
  font-size: 0.9rem;
  line-height: 1.4;
}
