.review-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fffefc;
  border: 1px solid #f0e6d6;
  border-radius: 14px;
  padding: 1.2rem 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease;
  cursor: pointer;
}

.review-card-container:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.review-card-avatar {
  margin-right: 16px;
}

.review-card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.review-card-header, .review-card-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.review-card-title h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}


.review-card-title p {
  margin: 0;
  color: #777;
  font-size: 0.95rem;
}



.review-card-details {
  margin-top: 0.5rem;
  display: flex;
  align-items: end;
  justify-content: space-between;
  color: #555;
  font-size: 0.95rem;
}

.review-card-date {
  font-size: 0.85rem;
  color: #999;
  margin-top: 4px;
}
