.faq-page {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

.faq-box {
  flex: 0 0 60%;
  padding: 1.5rem;
  border-radius: 8px;
}

.right-box {
  width: 40%;
  background-image: url('/public/customer/faqs1.jpg');
  background-size: contain;          
  background-repeat: no-repeat;       
  background-position: center center;
  border-radius: 10px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.right-box-text {
  margin-top: 35px;
  text-align: center;
  color: #e67e22;
  padding: 20px;
  border-radius: 10px;
}

.faq-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.faq-item h3 {
  font-size: 1.1rem;
  margin: 0;
  color: #333;
}

.faq-item p {
  margin-top: 0.5rem;
  color: #555;
}
