.product-form {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 70%;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #444;
}
.form{
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  gap: 2rem;
}
.product-form section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #444;
}

.product-form input,
.product-form select,
.product-form textarea {
  resize: none;
  width: 80%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 0.3rem;
  transition: border-color 0.3s;
}
.product-form select{
  width: 85%;
}

.product-form input:focus,
.product-form select:focus {
  border-color: #007bff;
  outline: none;
}

.submit-btn {
  margin: 1rem;
  background-color: #ff8800;
  color: white;
  font-weight: bold;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.size{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  overflow: wrap;
}

.size input {
  width: 50%;
}
.left-section{
  margin-left: 2rem;
  border-right: 1px solid #f8c69c;

}

.dropzone {
  width: 70%;
  margin:1rem 0;
  padding: 2rem;
  border: 2px dashed #007bff;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dropzone.active {
  background-color: #e0f0ff;
}

.image-preview {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.image-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
}



