.support-dashboard-container {
  font-family: 'Poppins', sans-serif;
  color: #2c3e50;
  background-color: #f9f9f9;
  min-height: 100vh;
  padding-bottom: 0;
}

.dashboard-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url('/public/support/support-dashboard.png');
  background-size: contain;
  background-position: center;
  padding: 5rem 2rem;
  text-align: center;
  color: white;
  box-shadow: inset 0 -8px 20px rgba(0, 0, 0, 0.25);
  height: 300px;
}


.support-dashboard-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #fff;
  text-shadow:
    0 0 4px rgba(255, 255, 255, 0.5),
    0 0 8px rgba(244, 163, 0, 0.4),
    0 0 12px rgba(244, 163, 0, 0.3);
  transition: text-shadow 0.3s ease;
}

.support-dashboard-title:hover {
  text-shadow:
    0 0 6px rgba(255, 255, 255, 0.7),
    0 0 12px rgba(244, 163, 0, 0.6),
    0 0 18px rgba(244, 163, 0, 0.4);
}

.support-dashboard-subtext {
  font-size: 1.2rem;
  max-width: 720px;
  margin: 0 auto;
  color: #f1f1f1;
}

.support-grid-okvir{
  background-image: url("/public/support/pozadinadashboard.png");
  background-size: contain;
  margin: 0 auto;

}

.support-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.support-info-section-okvir{
  background-image: url("/public/support/pozadinadashboard.png");
  background-size: contain;
  margin: 0 auto;
  padding-bottom: 2rem;
  
}

.support-info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1.5rem 3rem;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  gap: 2rem;
  flex-wrap: wrap; /* da se lijepo složi na manjim ekranima */
}

.support-info-section .info-text {
  flex: 1 1 20%;
  min-width: 300px;
  text-align: justify;
}

.support-info-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #f4a300;
  letter-spacing: 0.5px;
}


.support-info-section h2:hover {
    text-shadow:
    0 0 6px rgba(255, 255, 255, 0.7),
    0 0 12px rgba(244, 163, 0, 0.6),
    0 0 18px rgba(244, 163, 0, 0.4);
}

.support-info-section p {
  font-size: 1.05rem;
  color: #555;
  line-height: 1.6;
}

.dashboard-image {
  flex: 1 1 45%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  min-width: 280px;
}


@media (max-width: 768px) {
  .dashboard-hero {
    padding: 3rem 1.5rem;
  }

  .support-dashboard-title {
    font-size: 2rem;
  }

  .support-dashboard-subtext {
    font-size: 1rem;
  }

  .support-info-section {
    padding: 2rem 1rem;
  }
}
