/* ConfirmModal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
}

.restock-label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #444;
}

.restock-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 0.5rem;
    box-sizing: border-box;
}

.modal-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.cancel-restock-btn,
.submit-btn {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cancel-restock-btn {
    background-color: #ccc;
    height:min-content;
    color: #333;
    margin: 1rem;
}

.cancel-restock-btn:hover {
    background-color: #bbb;
}

.submit-btn {
    background-color: #eeb12e;
    color: white;
}

.submit-btn:hover {
    background-color: #ddaa3c;
}

.error-msg {
    color: red;
    font-size: 0.9rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}
